#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Exec=audiobook %F
Name=AudioBook
GenericName=Audio book player
Comment=Audio book player
Icon=bitshift.audiobook
Terminal=false
Categories=AudioVideo;Player;Qt;Audio;
MimeType=audio/mpeg;audio/mp3;audio/*;
Actions=Play;Pause;Stop;Previous;Next;
